
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/agregarDinero">Agregar Dinero<span class="sr-only">(current)</span></a>
      </li>
 
     
 

    </ul>

  </div>
</nav><div class="text-center"><h1>Caja</h1></div>
<div class="text-center">
<h1>${{caja.cantidad}}</h1>
</div>
